<p>{{ text }}</p>
<ul>
    <li *ngFor="let name of names; index as myindex">{{ myindex + 1 }} {{ name }}</li>
</ul>

<h4 *ngIf="show">Home Page</h4>
<button (click)="doclick('azman')">Click Me</button>
